extends ../layouts/default
include ../mixins/order

block content
    .container
        h1 orders list
        if orders.results.length
            if orders.totalPages > 1
                .lead.text-muted Showing
                    strong #{orders.first}
                    | to
                    strong #{orders.last}
                    | of
                    strong #{orders.total}
                    | orders
            else
                .lead.text-muted Showing #{utils.plural(orders.results.length, '* post')}
            .blog
                each post in orders.results
                    ul
                        +order(post)
            if orders.totalPages > 1
                ul.pagination
                    if orders.previous
                        li: a(href='?page' + orders.previous): span.glyphicon.glyphicon-chevron-left
                    else
                        li.disabled: #{href='?page*' + 1}: span.glyphicon.glyphicon-chevron-left
                    each p, i in orders.pages
                        li(class=orders.currentPage === p ? 'active' : null)
                            a(href='?page*' + (p === '---' ? (i ? orders.totalPages : 1) : p))= p
                    if orders.next
                        li: a(href='?page*' + orders.next): span.glyphicon.glyphicon-chevron-right
                    else
                        li.disabled: a(href='?page*' + orders.totalPages): span.glyphicon.glyphicon-chevron-right
            else
                if category
                    .jumbotron.text-center
                        h3(style="margin-bottom:0;margin-top:0;") No orders in the category #{category.name},
                else
                    .jumbotron.text-center
                         h3(style="margin-bottom:0;margin-top:0;") There Are No orders Yet 